<!-- <div class="container my-4">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-12 text-center">
        <h2 class="welcome-message">
          सचोटी ! सौजन्य ! स्वाभिमान !
        </h2>
        <p class="welcome-description">
          Your Trusted Partner in Banking Services<br>
          Janklayan Bank
        </p>
      </div>
    </div>
  </div> -->
  <div class="image-container">
    <img src="assets/4.jpg" alt="Image Description" class="img-fluid">
 </div>
  
  <div class="container mt-4">
    <div class="row mt-4">
      <div class="col-md-4 mb-4">
        <div class="feature-card">
          <div class="card-icon">
            <i class="fas fa-piggy-bank"></i>
          </div>
          <h3>Savings Accounts</h3>
          <p>Start saving today with our high-yield savings accounts.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-card">
          <div class="card-icon">
            <i class="fas fa-hand-holding-usd"></i>
          </div>
          <h3>Loans</h3>
          <p>Explore our range of loan options for all your financial needs.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-card">
          <div class="card-icon">
            <i class="fas fa-credit-card"></i>
          </div>
          <h3>Credit Cards</h3>
          <p>Get the right credit card to manage your expenses and enjoy rewards.</p>
        </div>
      </div>
      <!-- Add more cards below -->
      <div class="col-md-4">
        <div class="feature-card">
          <div class="card-icon">
            <i class="fas fa-building"></i>
          </div>
          <h3>Mortgages</h3>
          <p>Find your dream home with our flexible mortgage options.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-card">
          <div class="card-icon">
            <i class="fas fa-money-check-alt"></i>
          </div>
          <h3>Investments</h3>
          <p>Grow your wealth with our investment solutions.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-card">
          <div class="card-icon">
            <i class="fas fa-credit-card"></i>
          </div>
          <h3>Online Banking</h3>
          <p>Manage your accounts online with our secure banking platform.</p>
        </div>
      </div>
    </div>
  </div>
 

