<div class="container pb-3 pb-md-5">
    <div class="row">
        <!-- Logo in the first column -->
        <div class="col-12 col-md-4 d-flex justify-content-center align-items-center bg-white pb-3 pb-md-0">
            <a class="navbar-brand">
                <img src="assets/2.png" alt="Bank Logo" class="bank-logo img-fluid">
            </a>
        </div>

        <!-- Contact Us in the second column -->
<!-- Contact Us in the second column -->
<!-- Contact Us in the second column -->
<div class="col-12 col-md-4 d-flex justify-content-center align-items-center bg-white text-center">
    <a class="navbar-text" style="font-size: 18px; color: blue;">
        <i class="fas fa-code"></i> IFSC Code:
        ICIC00JKUCB
    </a>
</div>



        <!-- Email in the third column -->
        <div class="col-12 col-md-4 d-flex justify-content-center align-items-center bg-white text-center">
            <a class="navbar-text" style="font-size: 18px; color: blue;">
                <i class="far fa-envelope"></i> Email:info@jankalyan.com
            </a>
        </div>
    </div>
</div>

